.button-thankyou {
    border-radius: 4px;
    background-color: #c02b76;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  .message{
    display: flex;
    margin: 100px;
  }


  .button-thankyou span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-thankyou span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-thankyou:hover span {
    padding-right: 25px;
  }
  
  .button-thankyou:hover span:after {
    opacity: 1;
    right: 0;
  }